/*Primary Colors*/
$veryDarkBlue: hsl(233, 47%, 7%);
$darkDesaturatedBlue: hsl(244, 38%, 16%);
$softViolet: hsl(277, 64%, 61%);

/*Neutral Colors*/
$white: hsl(0, 0%, 100%);
$slightlyTransparentWhiteMain: hsla(0, 0%, 100%, 0.75);
$slightlyTransparentWhiteHeadings: hsla(0, 0%, 100%, 0.6);

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/*END CSS RESET*/

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: $veryDarkBlue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: $darkDesaturatedBlue;
  border-radius: 5px;
  color: $white;
  width: 80%;
  height: 70%;
}

.imageSide {
  object-fit: cover;
  width: 50%;
  img {
    border-radius: 0px 5px 5px 0px;
  }
}

.textSide{
  // border: 2px solid gray;
  padding: 2rem;
  width: 50%;
}

.textContainer {
  // border: 2px solid gray;
  padding-bottom: 2rem;
  .accent {
    color:$softViolet;
  }
  h1 {
    // border: 2px dotted gray;
    margin-right: 3rem;
  }
  p {
    padding-top: 1rem;
    font-size: 15px;
    color: $slightlyTransparentWhiteMain;
  }
}

.statBlockContainer {
  // border: 2px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
  p {
    color: $slightlyTransparentWhiteHeadings;
    letter-spacing: 1.25px;
    font-size: 15px;
  }
}

.statBlock {
  h2 {
    font-size: 20px;
  }
  p {
    padding-top: 6px;
  }
}


/*
@media only screen and (max-width: 375px) {

}
*/