/*Primary Colors*/
$veryDarkBlue: hsl(233, 47%, 7%);
$darkDesaturatedBlue: hsl(244, 38%, 16%);
$softViolet: hsl(277, 64%, 61%);

/*Neutral Colors*/
$white: hsl(0, 0%, 100%);
$slightlyTransparentWhiteMain: hsla(0, 0%, 100%, 0.75);
$slightlyTransparentWhiteHeadings: hsla(0, 0%, 100%, 0.6);

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/*END CSS RESET*/

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: $veryDarkBlue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  max-width:67rem;
  overflow: hidden;
  align-items: stretch;
  background-color: $darkDesaturatedBlue;
  border-radius: 10px;
  color: $white;
  margin: 1rem;
}

.imageSide {
  width: 50%;
  background-color: $softViolet;
  img {
    object-fit: cover;
    display: block;
    mix-blend-mode: multiply;
    opacity: 0.75;
    height: 100%;
  }
}

.textSide{
  position: relative;
  // border: 2px solid red;
  width: 50%;
}

.textContainer {
  // border: 2px solid green;
  padding: 4rem;
  font-family: 'Inter';
  .accent {
    color:$softViolet;
  }
  p {
    margin-top: 1.2rem;
    font-size: 15px;
    color: $slightlyTransparentWhiteMain;
    line-height: 23px;
  }
}

.statBlockContainer {
  // border: 1px solid yellow;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  margin-top: 6rem ;
  padding: 0;
  gap: 0rem 30px;
  font-family: 'Inter';
  p {
    color: $slightlyTransparentWhiteMain;
    letter-spacing: 1.25px;
    font-size: 15px;
  }
  .statNum {
    color: $white;
    font-weight: bold;
    font-size: 1.75rem;
    padding: 0;
    margin: 0;
  }
  .label {
    margin-top: 0.5rem;
  }
}


/*
@media only screen and (max-width: 375px) {

}
*/